language: ruby
cache: bundler
rvm:
  - <%= @ruby_version %>
services:
addons:
before_script:
notifications:
  template:
    - "%{repository}:%{branch} - %{message} [%{build_url}]"
  on_success: change
  on_failure: always
